.ProjectsMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    margin-bottom:100px;
}
.ProjectsMainText{
    padding-bottom: 5px;
    border-bottom: 8px solid yellow;
    color:yellow;
    margin-bottom: 50px;
    font-size:45px;
    /*margin-top:150px;*/
    /*text-decoration: underline;*/
}
.ProjectsMainDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ProjectsprojImages{
    height:100%;
    width:100%;
    margin-bottom:-40px;
}
.ProjectsText{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.ProjectsProjImagesReactNative{
    height:80vh;
    width:19vw;
}
.ProjectsLink{
    text-decoration: inherit;
}
.ProjectsInnerDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProjectsProjText{
    text-decoration: none;
    color:white;
    margin:0;
}
.ProjectsProjTextBottom{
    text-decoration: none;
    color:white;
    margin: 20px 0 0;
}
.ProjectReactNative{
    text-decoration: none;
    color:#0ddb17;
    margin:0;
}
.ProjectPython{
    text-decoration: none;
    color:#03d3fc;
    margin:0;
}
.ProjectReact{
    text-decoration: none;
    color:#fc0328;
    margin:0;
}

