.EducationMain{
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
}
.EducationText{
    padding-bottom: 5px;
    border-bottom: 8px solid yellow;
    color:yellow;
    margin-bottom: 50px;
    font-size:40px;
    /*margin-top:150px;*/
    /*color:yellow;*/
    /*text-decoration: underline;*/
}
.SealImage{
    height:90px;
    width:90px;
}
.Text{
    color:yellow;
}
