.FrontText{
    font-family: News Gothic;
    /*font-family: Lato, SansSerif;*/
    font-weight:bold;
    font-size:40px;
    color:white;
    margin-top:15px;
    margin-bottom:0;
}

.FrontNameText{
    font-family: News Gothic;
    font-weight:bold;
    font-size:70px;
    color:white;
    margin-top:15px;
    margin-bottom:50px;
}
.FrontMovingText{
    font-family: News Gothic;
    font-weight:bold;
    font-size:40px;
    color:white;
    margin-top:15px;
    margin-bottom:0px;
    display:flex;
    flex-direction: row;

}
