* {
    box-sizing: border-box;
}

/*html,*/
/*body,*/
/*#root {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: white;*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/

#root {
    /*background-color: white;*/
    width: 100%;
    height: 100%;
    background: #080252;
    overflow: hidden;
    position: relative;

}

.script-box {
    will-change: width, height, left, top;
    position: relative;
}
